# Logger settings
LOG_LEVEL=DEBUG
LIBRARY_LOG_LEVEL=INFO
SERIALIZE_LOGS=false

IMS_DATA_ROOT= # path to the IMS dataset root directory

CONFIG_PATH=src/phm_101/config/config.yaml
RAW_SIGNALS_DIR=data/ims/raw_signals